<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PcMainCtrl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="db" connectionString="Data Source=Localhost;Database=robot_data;User ID=sa;Password=123456" />
	</connectionStrings>
 <userSettings>
  <PcMainCtrl.Properties.Settings>
   <setting name="ImageProportion" serializeAs="String">
    <value>2048</value>
   </setting>
   <setting name="OrcImageProportion" serializeAs="String">
    <value>4096</value>
   </setting>
   <setting name="SaveImageType" serializeAs="String">
    <value>image/jpeg</value>
   </setting>
   <setting name="FtpIP" serializeAs="String">
    <value>192.168.0.102</value>
   </setting>
   <setting name="FtpPort" serializeAs="String">
    <value>21</value>
   </setting>
   <setting name="FtpUser" serializeAs="String">
    <value>robot</value>
   </setting>
   <setting name="FtpPwd" serializeAs="String">
    <value>robot</value>
   </setting>
   <setting name="HttpServerPort" serializeAs="String">
    <value>8080</value>
   </setting>
   <setting name="HttpBufferSize" serializeAs="String">
    <value>4096</value>
   </setting>
   <setting name="RgvIP" serializeAs="String">
    <value>192.168.0.254</value>
   </setting>
   <setting name="RgvPort" serializeAs="String">
    <value>8899</value>
   </setting>
   <setting name="RobotIP" serializeAs="String">
    <value>192.168.0.191</value>
   </setting>
   <setting name="RobotPort" serializeAs="String">
    <value>7000</value>
   </setting>
   <setting name="RobotFrontIP" serializeAs="String">
    <value>192.168.0.170</value>
   </setting>
   <setting name="RobotBackIP" serializeAs="String">
    <value>192.168.0.171</value>
   </setting>
   <setting name="Stm32Com" serializeAs="String">
    <value>COM6</value>
   </setting>
   <setting name="Stm32BaudRate" serializeAs="String">
    <value>115200</value>
   </setting>
   <setting name="Stm32Parity" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Stm32DataBits" serializeAs="String">
    <value>8</value>
   </setting>
   <setting name="Stm32StopBits" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="RelayIP" serializeAs="String">
    <value>192.168.0.191</value>
   </setting>
   <setting name="RelayPort" serializeAs="String">
    <value>6000</value>
   </setting>
   <setting name="RobotIO1_Wait" serializeAs="String">
    <value>3000</value>
   </setting>
   <setting name="RobotIO2_Wait" serializeAs="String">
    <value>3000</value>
   </setting>
   <setting name="RobotIO3_Wait" serializeAs="String">
    <value>3000</value>
   </setting>
   <setting name="RobotIO4_Wait" serializeAs="String">
    <value>3000</value>
   </setting>
   <setting name="TrainMode" serializeAs="String">
    <value>380AL</value>
   </setting>
   <setting name="TrainSn" serializeAs="String">
    <value>2572</value>
   </setting>
   <setting name="CheckingSpeed" serializeAs="String">
    <value>500</value>
   </setting>
   <setting name="RobotFrontPort" serializeAs="String">
    <value>2000</value>
   </setting>
   <setting name="RobotBackPort" serializeAs="String">
    <value>2000</value>
   </setting>
   <setting name="VppPath" serializeAs="String">
    <value>E:\DoNet\Vpp\Test.vpp</value>
   </setting>
   <setting name="CameraWidth" serializeAs="String">
    <value>4096</value>
   </setting>
   <setting name="CameraHeight" serializeAs="String">
    <value>2260</value>
   </setting>
   <setting name="CameraExposureTime" serializeAs="String">
    <value>46</value>
   </setting>
   <setting name="RobotPointXZ" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="LaserPositioning" serializeAs="String">
    <value>com5</value>
   </setting>
   <setting name="ModbusTcp" serializeAs="String">
    <value>192.168.0.194</value>
   </setting>
   <setting name="Light" serializeAs="String">
    <value>com3</value>
   </setting>
   <setting name="LightFrontHigh" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="LightBackHigh" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="RobotID" serializeAs="String">
    <value>00000001</value>
   </setting>
   <setting name="ServicePath" serializeAs="String">
    <value>http://localhost:8002/</value>
   </setting>
   <setting name="ServerIP" serializeAs="String">
    <value>101.35.202.172</value>
   </setting>
   <setting name="ServerPort" serializeAs="String">
    <value>10010</value>
   </setting>
   <setting name="ServerHardInternal" serializeAs="String">
    <value>500</value>
   </setting>
   <setting name="UploadDataServer" serializeAs="String">
    <value>http://101.35.202.172/api</value>
   </setting>
   <setting name="ReCheckHead" serializeAs="String">
    <value>6000</value>
   </setting>
   <setting name="LidarType" serializeAs="String">
    <value>S2</value>
   </setting>
   <setting name="RgvSpeedTolerance" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="PointCamera" serializeAs="String">
    <value>192.168.2.187</value>
   </setting>
   <setting name="PointCameraXZ" serializeAs="String">
    <value>0</value>
   </setting>
  </PcMainCtrl.Properties.Settings>
 </userSettings>
 <system.serviceModel>
    <bindings>
       <basicHttpBinding>
          <binding name="BasicHttpBinding_IService" />
       </basicHttpBinding>
    </bindings>
    <client>
       <endpoint address="http://localhost:8001/" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IService" contract="ServiceReference1.IService"
          name="BasicHttpBinding_IService" />
    </client>
 </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>